# Avoid pushing opacity data from these directories
data/k_tables/R100_ck_data_g16_UV/*
data/CIA_tables/HITRAN/*.cia
data/CE_interp/*.txt

WASP-39b_1D_VULCAN_CARMA_example
MALBEC_benchmark_examples

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cia data
*.cia

